<header class="toolbar">
    <div class="app-logo-text">
        <img src="img/logo1.png" alt="Logo" class="logo circle-img " routerLink="/dashboard" />
        <span class="logo-text" routerLink="/dashboard">Tasks</span>
        <!-- Menu/Acceso directo -->
        <div class="menu-button-row" *ngIf="(isLoggedIn$ | async) && (currentUser$ | async)">
            <div class="menu-flex-container">
                <div class="menu-button-container">
                    <button mat-button class="" matTooltip="Gestionar Tareas" routerLink="/tasks">
                        <mat-icon>assignment</mat-icon> Tareas
                    </button>
                </div>
                <div class="menu-button-container">
                    <button mat-button class="" matTooltip="Ver Métricas" routerLink="/dashboard">
                        <mat-icon>dashboard</mat-icon> Métricas
                    </button>
                </div>
            </div>
        </div>
        <div class="user-avatar" *ngIf="(isLoggedIn$ | async) && (currentUser$ | async)" [matMenuTriggerFor]="userMenu">
            <img [src]="(currentUser$ | async)?.avatar| imageNotFound " [alt]="(currentUser$ | async)?.name"
                class="avatar-image circle-img" (error)="handleImageError($event)">
        </div>
    </div>

    <mat-menu #userMenu="matMenu" class="user-menu">
        <button mat-menu-item>
            <mat-icon>settings_b_roll</mat-icon>
            <span>Configuración</span>
        </button>
        <button mat-menu-item class="d-none d-md-block" routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Métricas</span>
        </button>
        <button mat-menu-item class="d-none d-md-block" routerLink="/tasks">
            <mat-icon>assignment</mat-icon>
            <span>Tareas</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>
    <span class="spacer"></span>
</header>