.snackbar-success {
  background-color: #4caf50 !important; // Verde de éxito
  color: white !important;
  border-left: 4px solid #2e7d32;
}

.snackbar-error {
  background-color: #f44336 !important; // Rojo de error
  color: white !important;
  border-left: 4px solid #c62828;
}