  <!-- [dataSource]="(filteredTasks$ | async) ?? []" -->
<!--  -->
<app-reusable-table
  [dataSource]="taksList"
  [columns]="tableColumns"
  [pageSizeOptions]="[1, 5, 10, 25]"
  [pageSize]="5"
  [showFilters]="true"
  [showSearchFilter]="true"
  [showStatusFilter]="true"
  [showAddButton]="true"
  [showActions]="true"
  [showPagination]="true"
  [readonly]="false"
  searchPlaceholder="Buscar por título o descripción..."
  noDataMessage="No se encontraron tareas"
  (searchChange)="setQuery($event)"
  (statusChange)="setStatus($event)"
  (addClick)="onAddClick()"
  (editClick)="onEditClick($event)"
  (deleteClick)="onDeleteClick($event)">
</app-reusable-table>